In [4]:
a = 2

In [5]:
a

2

In [6]:
b = 10
b

10

In [7]:
a * b

20

In [9]:
c = 3 + 3

In [10]:
c

6

In [2]:
2 + 3

5

# homework
# Divyapunj ji
# Ritika ji

car

values
action

feature
- car number = KL4321 
- car type = automatic
- wheel size = 
- camera = 


action
start()
leftturn()
break()
accelarate()
start_fm_radio()
ac_on()

In [13]:
Ritika = 100

In [14]:
Ritika

100

# Ishita Details
- name : Ishita
- class : 4
- School : Chinmaya
- Best Friend : Krishnapriya

In [12]:
2 + 2

4

In [13]:
3 + 2

5

In [16]:
def sum_number(a, b):
    c = a + b
    return c

In [15]:
sum_number(2, 3)

5

In [17]:
sum_number(2, 3)

5

In [18]:
help(sum_number)

Help on function sum_number in module __main__:

sum_number(a, b)

In [22]:
sum((2, 3, 100))

105

In [25]:
hari = 4

In [28]:
print('i am good')

i am good

In [29]:
print('Name: Ishita')
print('Father: Dr Hari Shanker Gupta')
print('Mother: Swati Gupta')
print('School: Chinmaya')
print('Section: 4B')

Name: Ishita
Father: Dr Hari Shanker Gupta
Mother: Swati Gupta
School: Chinmaya
Section: 4B

In [32]:
def about_ishita():
    print('Name: Ishita')
    print('Father: Dr Hari Shanker Gupta')
    print('Mother: Swati Gupta')
    print('School: Chinmaya')
    print('Section: 4B')

In [33]:
about_ishita()

Name: Ishita
Father: Dr Hari Shanker Gupta
Mother: Swati Gupta
School: Chinmaya
Section: 4B

In [37]:
for i in range(5):
    print(i)
#     about_ishita()

0
1
2
3
4

In [35]:
print(range(5))

range(0, 5)

In [38]:
def about_person(name, father, mother, school, section):
    print('Name: ' + name)
    print('Father: ' + father)
    print('Mother: ' + mother)
    print('School: ' + school)
    print('Section: ' + section)

In [39]:
about_person('ishtia', 'HariG', 'SwatiG', 'chinmaya', '4B')

Name: ishtia
Father: HariG
Mother: SwatiG
School: chinmaya
Section: 4B

In [41]:
about_person('Divyapunj', 'Prashant', 'Aparna', 'Kendriya', '11B')

Name: Divyapunj
Father: Prashant
Mother: Aparna
School: Kendriya
Section: 11B

In [42]:
about_person('Ritika', 'Hari ji', 'Swati ji', 'chinmaya', '7E')

Name: Ritika
Father: Hari ji
Mother: Swati ji
School: chinmaya
Section: 7E

In [43]:
help(about_person)

Help on function about_person in module __main__:

about_person(name, father, mother, school, section)